{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>base html file. bootstrap template from: http://www.bootply.com/</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	   <!-- Latest compiled and minified CSS -->
    <link href="{% static 'gameTimeApp/css/bootstrap.min.css' %}" rel="stylesheet">
	 
</head>
<body>
	<h1>Monitoring Status</h1>
  <img src="{% static "hello/images/fence.jpg" %}" alt="My image"/>
  
</div>
  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src= "{% static 'gameTimeApp/js/interactive.js' %}" type="text/javascript"></script>

</body>
</html>